* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: blueviolet;
    font: normal 15pt Arial;
    color: white;
}

header {
    background-color: none;
    padding: 15px;
    width: 50%;
    margin: auto;
    text-align: center;
}

section {
    background-color: none;
    border-radius: 0;
    padding: 0;

    margin: auto;
    color: black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);
}

footer {
    background-color: none;
    padding: 15px;
    width: 50%;
    margin: auto;
    text-align: center;
    font-style: italic;
}

div {
    text-align: center;
}

img {
    width: 100vw
    position: relative;
}



.Dia {
    background-image: url("imagens/dia.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .Tarde {
    background-image: url("imagens/tarde.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .Noite {
    background-image: url("imagens/noite.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .Madrugada {
    background-image: url("imagens/madrugada.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
  }